.banner {
    height: 300px;
    color: #cccccc;
    padding: 100px 40px;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../../images/background.jpg");
}

.hero {
    margin: 0 auto;
}

.hero > h1 {
    margin: 0;
}

.hero > p {
    margin-bottom: 3em;
}